/*Universal Selectors****************/




/*Class Selectors********************/

.cityName {
  cursor: pointer;
  color: #0088cc;
}

.cityName:hover {
  text-decoration: underline;
}

/*Id Selectors***********************/

 #showPlaceInfo {
   display: none;
 }

/*Media Queries**********************/
